@using InfoSN.Models.ViewModel.Articles;
@model IEnumerable<DisplayArticleVM>;
@{
	ViewData["Title"] = "Home Page";
}
<div class="">
	@if (Model.Count() >= 1)
	{
		foreach (DisplayArticleVM article in Model)
		{
			<div class="card-article">
				<div class="container-article">
					<p class="article-label">@article.User.UserName : @article.PostDate.ToShortDateString()</p>
					<h2>@article.Title</h2>
					<p>@article.Description[..250] ...</p>
					<a asp-controller="Article" asp-action="Details" asp-route-id="@article.Id">Voir plus...</a>
				</div>
			</div>
			<hr />
		}
	}
</div>
